.cardfit{
    width: fit-content;
    height: fit-content;
    margin: 10px;
}
.cardimg{
    height:360px;
    width: 400px;
}
.cardtxt{
    position: relative;
    top:100px;
}
.cardbbtn{
    position: relative;
    top:100px;
    background-color:rgb(237, 49, 90);
}